.loginBg {  
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100vh;
  background: linear-gradient(
  178deg,    
  rgba(255, 191, 105, 0.8) 99.64%,
  rgba(255, 191, 105, 0.38) 1.3%
  );

}
