body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #f2f2f2;
  }

  /* .postDiv{
    height: 800vh;
    width: 100vw;
    background-color: white;
  }
   */
  .formData {
    max-width: 100vh;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blogImage {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .inputCSS {
    display: none; /* Hide the default file input */
  }
  
  .previewImg {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .titleContainer,
  .genreContainer,
  .blogArea {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Button styling */
  .submitButton {
    background-color: #FFBF69;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #FFA74D;
  }
  